<div class="cadastrar">
    <form action="salvarContato" method="POST">
        <div class="sign"><article class="side-1">
            <label>Nome: </label>
            <input type="text" name="nome" placeholder="Nome">
            <label>Sobrenome: </label>
            <input type="text" name="sobrenome" placeholder="Sobrenome">
            <label>Idade: </label>
            <input type="text" name="idade" placeholder="Idade">
            <label>Email: </label>
            <input type="text" name="email" placeholder="Email">
            <label>Cidade: </label>
            <input type="text" name="cidade" placeholder="Cidade">
            <label>Redes: </label>
            <input type="text" name="redes" placeholder="Link do Facebook, Instagram, Twitter..."></article>
            <input type="button" value="Adicionar outra rede social">
        </div>
        <div class="sign"><article class="side-2">
            <label>Bairro: </label>
            <input type="text" name="bairro" placeholder="Bairro">
            <label>Rua: </label>
            <input type="text" name="rua" placeholder="Rua">
            <label>Endereço: </label>
            <input type="text" name="endereco" placeholder="Endereço">
            <label>Sexo: </label>
            <input type="text" name="sexo" placeholder="Sexo">
            <label>Complementar: </label>
            <input type="text" name="complementar" placeholder="Complementar">
            <label>Numero: </label>
            <input type="text" name="numeros" placeholder="Numero"></article>  
            <input type="button" value="Adicionar outro numero">  
        </div>
            <input type="submit" value="Salvar Contato">
        </form>
</div>