<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="images/faviconsannyweb.png">
    <title>Contatos</title>
</head>
<body>
<div class="menu">
    <div class="opt down">Adicionar Contato</div>
    <div class="opt down">Listar contatos</div>
    <!-- <div class="opt"></div> -->
    <input class="opt search" type='text' placeholder='Pesquisar...'>
    <div class="opt down">Sair</div>    
</div>
<div class="container">
    <img alt="SannyWeb" src="images/SannyWeb.png">
    <p class="shouldbefooter">Este é um simples projeto de gerenciamento de Contatos trabalhando com tecnologias como NodeJS com framework Express, padrão MVC, módulos como Consign e outros, se utilizando do banco de dados MongoDB. Projeto para aperfeiçoar técnicas e aprendizados obtidos com estudo tanto front-end como back-end e a manipulação de dados com um CRUD. Feito por Ruan Barroso em nome de sua empresa SannyWeb.</p>
</div>   
</body>
<script src="js/home.js"></script>
</html>