<!DOCTYPE html>
<html>
<head>
	<title>Contatos</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="icon" href="images/faviconsannyweb.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="sino">
			<img alt="SannyWeb" src="images/sannyweb.png">
			<% if(erros.length>0){ %>
			<div class="erros">
				<ul>
					<% for(var i=0;i<erros.length;i++){ %>
					<li><%=erros[i].msg%></li>
					<% }%>
				</ul>
			</div> 
			<% }%>
			
			<% if(msg=='sucess'){ %>
			<div class="msg">
				<p style="color: black; text-align: center; font-size: 1.8em; background-color: rgb(179, 248, 183);">Cadastramento realizado com sucesso!</p>
			</div>
			<% } %>
		</div>
		<div class="info">
			<div class="carrol">
				<div class="entrar">
					<h2>Entrar</h2>
					<form method="POST" action="validarUsuario">
						<div class="bloco-form">
							<label for="email">Email:</label>
							<input type="text" name="usuario"  placeholder="Seu usuario" id="email">
						</div>
						<div class="bloco-form">
							<label for="senha">Senha:</label>
							<input type="password" name="senha" placeholder="Sua senha" id="senha">
						</div>	
						<div class="bloco-form">
							<input type="button" value="Alternar" id="action1">
							<input type="submit" value="Entrar">
						</div>
					</form>
				</div>
				<div class="cadastrar">
					<h2>Cadastrar</h2>
					<form method="POST" action="cadastrarUsuario">
						<div class="bloco-form">
							<label for="email">Email:</label>
							<input type="text" name="usuario" placeholder="Seu usuario" id="email" value="<%=usuario.usuario%>">
						</div>
						<div class="bloco-form">
							<label for="senha">Senha:</label>
							<input type="password" name="senha" placeholder="Sua senha" id="senha">
						</div>	
						<div class="bloco-form">
							<input type="button" value="Alternar" id="action2">
							<input type="submit" value="Cadastrar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>