<div class="contatos">
    <div class="more">Nome</div>
    <div class="more">Email</div>
    <div class="more">Número</div>
    <div class="more info">Ver mais</div>
    <div class="more info">Editar</div>
    <div class="more info">Deletar</div>
</div>